<h1>Articles</h1>
Our blog has  <%= Article.public_count %> articles and counting!
<ul>
	<% @articles.each do |article| %>
		<% unless article.archieved? %>
			<li>
				<%= link_to article.title, article_path(article) %>
			</li>
		<% end %>
	<% end %>
</ul>
<%#= link_to "New Article", new_article_path %>
<button onclick="window.location.reload();">Fetch plugins</button>
<br>
<% if '200' == @response.code %>
	<% begin %>
		<% data = JSON.parse(@response.body) %>
		<%= "Active plugins are" %>
		<ul>
			<% data.each do |plugin| %>
				<li><%= plugin %></li>
			<% end %>
		</ul>
	<% rescue JSON::ParserError => e %>
		<%= "Error: Plugin may be inactive unable to parse JSON response" %>
	<% end %>
<% else %>
	<%= "Error: #{response.code} - #{response.message}" %>
<% end %>
